/Task_1_2_1/build/test-results/test/binary/output.bin
/Task_1_2_1/build/test-results/test/binary/output.bin.idx
/Task_1_2_1/.gradle/buildOutputCleanup/outputFiles.bin
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/org/jacoco/agent/package-info.class
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
/Task_1_2_1/build/tmp/compileJava/previous-compilation-data.bin
/Task_1_2_1/build/tmp/compileTestJava/previous-compilation-data.bin
/Task_1_2_1/build/reports/tests/test/js/report.js
/Task_1_2_1/.gradle/8.2/fileHashes/resourceHashesCache.bin
/Task_1_2_1/build/test-results/test/binary/results.bin
/Task_1_2_1/build/reports/tests/test/packages/ru.nsu.kozoliy.html
/Task_1_2_1/build/reports/tests/test/classes/ru.nsu.kozoliy.TestTreeInterpretation.html
/Task_1_2_1/.gradle/8.2/checksums/sha1-checksums.bin
/Task_1_1_2/.idea/shelf/Uncommitted_changes_before_Checkout_at_04_10_2023_17_12_[Changes]/shelved.patch
/Task_1_1_2/.idea/shelf/Uncommitted_changes_before_Checkout_at_04_10_2023_17_12_[Changes]1/shelved.patch
/Task_1_2_1/build/reports/tests/test/css/style.css
/Task_1_2_1/build/jacoco/test.exec
/Task_1_2_1/build/test-results/test/TEST-ru.nsu.kozoliy.TestTreeInterpretation.xml
/Task_1_2_1/build/classes/java/test/ru/nsu/kozoliy/TestTreeInterpretation.class
/Task_1_2_1/build/tmp/compileTestJava/compileTransaction/stash-dir/TestTreeInterpretation.class.uniqueId0
/Task_1_2_1/build/classes/java/main/ru/nsu/kozoliy/TreeInterpretation$Tree$Bfs.class
/Task_1_2_1/build/tmp/compileJava/compileTransaction/stash-dir/TreeInterpretation$Tree$Bfs.class.uniqueId3
/Task_1_2_1/build/classes/java/main/ru/nsu/kozoliy/TreeInterpretation$Tree$Dfs.class
/Task_1_2_1/build/tmp/compileJava/compileTransaction/stash-dir/TreeInterpretation$Tree$Dfs.class.uniqueId0
/Task_1_2_1/build/tmp/compileJava/compileTransaction/stash-dir/TreeInterpretation$Tree$TreeIterator.class.uniqueId2
/Task_1_2_1/build/classes/java/main/ru/nsu/kozoliy/TreeInterpretation$Tree.class
/Task_1_2_1/build/tmp/compileJava/compileTransaction/stash-dir/TreeInterpretation$Tree.class.uniqueId4
/Task_1_2_1/build/classes/java/main/ru/nsu/kozoliy/TreeInterpretation.class
/Task_1_2_1/build/tmp/compileJava/compileTransaction/stash-dir/TreeInterpretation.class.uniqueId1
/Task_1_2_1/.idea/uiDesigner.xml
/Task_1_1_2/.idea/shelf/Uncommitted_changes_before_Checkout_at_04_10_2023_17_12__Changes_.xml
/Task_1_2_1/.idea/vcs.xml
/Task_1_1_2/.idea/workspace.xml
/Task_1_2_1/build/reports/tests/test/index.html
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/jacocoagent.jar
/Task_1_2_1/.idea/jarRepositories.xml
/Task_1_2_1/.gradle/8.2/fileChanges/last-build.bin
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/MANIFEST.MF
/Task_1_2_1/.gradle/8.2/checksums/md5-checksums.bin
/Task_1_2_1/.idea/misc.xml
/Task_1_2_1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Task_1_2_1/.gradle/buildOutputCleanup/cache.properties
/Task_1_2_1/.gradle/8.2/checksums/checksums.lock
/Task_1_2_1/.idea/compiler.xml
/Task_1_2_1/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
/Task_1_2_1/build/classes/java/main/ru/nsu/kozoliy/ExcludeFromJacocoGeneratedReport.class
/Task_1_2_1/.gradle/8.2/executionHistory/executionHistory.bin
/Task_1_2_1/.gradle/8.2/executionHistory/executionHistory.lock
/Task_1_2_1/build/tmp/.cache/expanded/expanded.lock
/Task_1_2_1/.gradle/file-system.probe
/Task_1_2_1/.gradle/8.2/fileHashes/fileHashes.bin
/Task_1_2_1/.gradle/8.2/fileHashes/fileHashes.lock
/Task_1_2_1/.gradle/8.2/dependencies-accessors/gc.properties
/Task_1_2_1/.gradle/8.2/gc.properties
/Task_1_2_1/.gradle/vcs-1/gc.properties
/Task_1_2_1/.idea/gradle.xml
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/about.html
/Task_1_2_1/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/org/jacoco/agent/AgentJar.class
/Task_1_2_1/build/reports/tests/test/css/base-style.css
/Task_1_2_1/.idea/.gitignore