

@font-face {
    font-family: 'Belozersk';
    src: url('Belozersk_Regular.ttf');
}

.text {
    -fx-font-family: "Belozersk";
}

.label{
    -fx-font-family: "Belozersk";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

.button{
    -fx-font-family: "Belozersk";
        -fx-text-fill: "white";
        -fx-alignment: center;
        -fx-font-size: 30pt;

}

#worldSizeChoiceBox .menu-item:focused {
  -fx-background-color: "#2B81C8" ; /* for example */
}

#worldSizeChoiceBox .context-menu {
    -fx-background-color: "#154C79";
    -fx-padding: 4 0 4 5;
    -fx-alignment: center;
}

#worldSizeChoiceBox {
  -fx-mark-color: "#474787" ;
  -fx-font-size: 13pt;
}

#speedChoiceBox .menu-item:focused {
  -fx-background-color: "#2B81C8" ; /* for example */
}

#speedChoiceBox .context-menu {
    -fx-background-color: "#154C79";
    -fx-padding: 4 0 4 5;
    -fx-alignment: center;
}

#speedChoiceBox {
  -fx-mark-color: "#474787" ;
  -fx-font-size: 13pt;
}

#cellSizeChoiceBox .menu-item:focused {
  -fx-background-color: "#2B81C8" ; /* for example */
}

#cellSizeChoiceBox .context-menu {
    -fx-background-color: "#154C79";
    -fx-padding: 4 0 4 5;
    -fx-alignment: center;
}

#cellSizeChoiceBox {
  -fx-mark-color: "#474787" ;
  -fx-font-size: 13pt;
}


